doctype html
html
	head
		title Dissenter
		meta(charset="utf-8")
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" )
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
		link(href='./popup.css' type='text/css' rel='stylesheet')
	body
		div(class='wrapper container-fluid')
		div(id='tab-container')
			ul(class="nav nav-tabs")
				li(class="nav-item")
					a(class="nav-link btn btn-success" href="#" id='dissenter-nav-btn' ) Dissenter
				li(class="nav-item")
					a(class="nav-link btn btn-success" href="#" id="archive-nav-btn") Archive.is
		div(class='popup')
			div(class='popup__inner rel')
				iframe(id='popup-iframe' class='popup__iframe abs hidden')
		script(src='./popup.js')
